extends ../layouts/main.pug
 
block content
 
  form.product-form(action=`/admin/` + (editing ? 'edit' : 'add') + `-product`, method="POST")
    .form-control
      label(for="title") Title
      input(type="text", name="title", value=(editing ? product.title : ''))#title 
    .form-control
      label(for="imageUrl") Image URL
      input(type="text", name="imageUrl", value=(editing ? product.imageUrl : ''))#imageUrl
    .form-control
      label(for="price") Price
      input(type="text", name="price", value=(editing ? product.price : ''))#price
    .form-control
      label(for="description") Description
      textarea(name="description")#description #{(editing ? product.description : '')}
    button.btn(type="submit") #{(editing ? 'Edit' : 'Add')} Product
    
block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/product.css")
