<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" >
        <meta http-equiv="X-UA-Compatible" content ="ie=edge">
        <title><%= pageTitle %></title>
        <!-- we should omit public from path and directly act as if we are in the public folder already-->
        <link rel="stylesheet" href="../CSS/main.css">
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/">Shop</a></li>
                    <li class="main-header__item"><a href ="/add-product">Add Product</a></li>
                </ul>
            </nav>
        </header>
        <h1>Page Not Page!</h1>
    </body>
</html>